{#
  自定义管理菜单的模板
  items 是所有的菜单节点
  macro 自定义脚本，可以通过调用函数的方式直接调用，也可以通过import实现复用
#}
<h1>管理菜单</h1>

{% import _self as menus %}

{#
  这里通过调用下面定义的函数来输出HTML
#}
{{ menus.menu_links(element.items, attributes, 0) }}

{#
  下面定义的是一个函数
#}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  <ul class="toolbar-menu">
    {% for item in items %}
      {%
        set classes = [
        'menu-item'
      ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.items %}
          {{ menus.menu_links(item.items, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endmacro %}
